<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <!-- Rewrite maps; they can be in separate files, if needed -->
            <!-- <rewriteMaps configSource="RewriteMaps.config"></rewriteMaps> -->
            <rewriteMaps>
                <!-- Define hostname-based redirects here -->
                <rewriteMap name="HostNameRedirects">
                    <add key="www.mydomain.com" value="https://www.my-domain.com/" />
                    <add key="test.mydomain.com" value="https://www.my-domain.com/test/" />
                    <add key="www.oldsite.com" value="https://www.newsite.com/" />
                </rewriteMap>
                <!-- Define path-based redirects here -->
                <rewriteMap name="PathRedirects">
                    <add key="/" value="https://www.example.com/" />
                    <add key="/something" value="https://www.example.com/some/page.html" />
                </rewriteMap>
            </rewriteMaps>
            <!-- The actual rules -->
            <rules>
                <!-- Perform hostname-based redirects -->
                <rule name="Host name redirects" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HostNameRedirects:{HTTP_HOST}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="true" redirectType="Found" />
                </rule>
                <!-- Add WWW prefix to anything it does not have it, ie. domain.com -> www.domain.com -->
                <rule name="Add WWW" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(?!www\.)([a-z0-9-]+\.[a-z]+)$" />
                    </conditions>
                    <action type="Redirect" url="http://www.{C:0}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
                <!-- Perform path-based redirects -->
                <rule name="Path redirects" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{PathRedirects:{PATH_INFO}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="true" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
